<ul>
    <li >
        <input type="text" #box (keyup)="getSeedValue(box.value)" placeholder=" Ziarno dla generatora">
    </li>
    <li (click)="RandomLabirynth()">Losowy Labirynt</li>
    <li (click)="genRandomLabirynth()"> Stwórz Labirynt</li>
    <li (click)="clearPath()" style="float:right"> Wyczyć Ścieżkę </li>
    <li (click)="resetGrid()" style="float:right"> Wyczyć Tablicę </li>
    <li (click)="visualise(selected)" style="float:right">Wizualizuj</li>
    <form>
    <mat-form-field appearance="fill">
        <mat-label>Wybierz algorytm</mat-label>
        <mat-select [(value)]="selected">
          <mat-option (click)="chooseAlgo(selected)" value="Dijkstra">Dijkstra</mat-option>
          <mat-option (click)="chooseAlgo(selected)" value="BFS">BFS</mat-option>
          <mat-option (click)="chooseAlgo(selected)" value="A*">A*</mat-option>
        </mat-select>
      </mat-form-field>  
    </form>
</ul>
<canvas id="myCanvas">
</canvas>