<ul>
    <li >
        <input type="text" #box (keyup)="getSeedValue(box.value)" placeholder=" Ziarno dla generatora">
    </li>
    <li (click)="RandomLabirynth()">Losowy Labirynt</li>
    <li (click)="genRandomLabirynth()"> Stwórz Labirynt</li>
    <li (click)="resetGrid()" style="float:right"> Wyczyć Tablicę </li>
    <li (click)="dijkstraSearch_A_star_variation()"> Wizualizuj Dijkstra</li>
    <li (click)="bfs_Search()"> Wizualizuj BFS</li>
    <li (click)="a_star_search()"> Wizualizuj A*</li>
</ul>
<canvas id="myCanvas" width="1235" height="520">
</canvas>