<ul>
    <li >
        <label for="seed">Ziarno dla labiryntu: </label>
        <input type="text">
    </li>
    <li >Generuj Labirynt</li>
    <li>
        <label for="algorithms">Wybierz algorytm: </label>
        <select name="algorithms" id="algorithms">
            <option value="Algorytm 1">Algorytm 1</option>
            <option value="Algorytm 2">Algorytm 2</option>
            <option value="Algorytm 3">Algorytm 3</option>
            <option value="Algorytm 4">Algorytm 4</option>
          </select>
    </li>
    <li >Wizualizuj</li>
    <li style="float:right">Wyczyść Tablicę</li>
</ul>